* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    height: 100px;
    font-family: 'Montserrat', coursive;
}

.container {
    height: 100%;
    max-width: 100vw;
    background-color: lightgrey;
    border-style: hidden hidden solid hidden;
}

.clearfix::after {
    content: '';
    display: table;
    clear: both;
}

.header-left {
    height: 100%;
    width: 20%;
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-left > img{
    height: 100px;
    width: 100px;
    object-fit: contain;
}

.header-right {
    height: 100%;
    width: 60%;
    float: right;
}

.dropdown{
    display: none;
    height: 230px;
    width: 150px;
    background-color: white;
    border: 1px solid #ededed;
    box-shadow: 5px 5px 5px #40bF80;
    text-align: center;
    padding: 15px 0;
    position: relative;
}

a{
    text-decoration: none;
}

p{
    display: none;
    font-size: 15px;
    cursor: progress;
}

.color{
    color:red;
}

nav{
    display: flex;
    justify-content: space-around;
}

img.image.right{
    width: 150px;
    height: 150px;
    object-fit: contain;
    position: relative;
    float: right;
    display: none;
}

img.image.left{
    width: 150px;
    height: 150px;
    object-fit: contain;
    position: relative;
    float: left;
    display: none;
}

/* .titolo h2::after {
    font-family: "Font Awesome 5 Free";
    content: '\f107';
    font-weight: 900;
    float: right;
    transition: transform 0.5s;
}

.titolo h2.rotate::after {
    transform: rotate(180deg);
} */


h1{
    text-align: center;
}

h2{
    font-size: 20px;
    text-align: center;
    border: 1px solid black;
    border-style: hidden hidden solid hidden;
    font-weight: bolder;
    color: black;
    padding: 0 10px;
}

h4{
    padding: 5px 0;
    color: black;
}

i.fas.fa-hamburger,
i.far.fa-times-circle{
    display: none;
    color: black;
}

#base,
#half-marathon,
#ny,
#london,
#tokyo{
    height: 200px;
    background-color: #ededed;
}


#intermedio,
#marathon,
#boston,
#berlin,
#chicago{
    height: 200px;
    background-color: white;
}


/* Media */
@media screen and (max-width: 1000px){
    i.fas.fa-hamburger,
    i.far.fa-times-circle{
        display: block;
    }

    .header-right{
        display: none;
        height: 200px;
        width: 100%;
        background-color: #ededed;
        position: absolute;
    }


    i.fas.fa-hamburger{
        float: right;
        font-size: 50px;
        margin-right: 50px;
        margin-top: 20px;
    }

    i.far.fa-times-circle{
        float: left;
        font-size: 30px;
    }
}
